# Ignorowane pliki
.env

# Ignorowane foldery bazy danych (jeśli kiedyś utworzysz lokalnie)
postgres_data/

# Śmieci z Pythona
__pycache__/
*.pyc

# ignorowane notatki
notatki/
model_bazy/
node_modules/
frontend/