$primary-color-light: #ffbb66;
$primary-color-main: #ffab40;
$primary-color-dark: #b2772c;
$primary-color-contrast-text: #fff;

$secondary-color-light: #ff4569;
$secondary-color-main: #ff1744;
$secondary-color-dark: #b2102f;
$secondary-color-contrast-text: #000;