{% extends 'snippets/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Dodaj nowe rozwiązanie
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg">💾 Zapisz kod</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}