@import '../../styles/colors.scss';

$logo-size: 30px;

.logo {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	font-size: $logo-size;
	color: $secondary-color-main;
	text-decoration: none;
}

.icon {
	font-size: $logo-size !important;
}